/* Error: Missing argument $lr.
 *    ,--> assets\sass\components\_features.scss
 * 141|                     @include padding(1em); // Adjusted padding for xsmall screens
 *    |                     ^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> assets\sass\libs\_mixins.scss
 * 45 | @mixin padding($tb, $lr, $pad: (0,0,0,0), $important: null) {
 *    |        ==================================================== declaration
 *    '
 *   assets\sass\components\_features.scss 141:6  padding()
 *   assets\sass\components\_features.scss 141:6  @content
 *   assets\sass\libs\_breakpoints.scss 220:5     breakpoint()
 *   assets\sass\components\_features.scss 137:4  @import
 *   assets\sass\main.scss 37:10                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $lr.\a    \250c \2500 \2500 > assets\\sass\\components\\_features.scss\a 141\2502                      @include padding(1em); // Adjusted padding for xsmall screens\d\a    \2502                      ^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > assets\\sass\\libs\\_mixins.scss\a 45 \2502  @mixin padding($tb, $lr, $pad: (0,0,0,0), $important: null) {\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   assets\\sass\\components\\_features.scss 141:6  padding()\a   assets\\sass\\components\\_features.scss 141:6  @content\a   assets\\sass\\libs\\_breakpoints.scss 220:5     breakpoint()\a   assets\\sass\\components\\_features.scss 137:4  @import\a   assets\\sass\\main.scss 37:10                  root stylesheet";
}
